Try a new thing

In [21]:
import pandas as pd
SIGMA = 4
N =3

In [2]:
with open(r'data\retail_25k.dat') as f:
    lines = [line.strip() for line in f.readlines()]

In [3]:
lines = [sorted([int(i) for i in line.split()]) for line in lines]

In [18]:
from collections import defaultdict
index = defaultdict(set)
for i, line in enumerate(lines):
    for item in line:
        index[item].add(i)

In [22]:
index = {k: sorted(list(v)) for k, v in index.items() if len(v) >= SIGMA}

In [23]:
len(index)

7232

In [24]:
def vector_from_list(inlist, vlen=25000):
    retval = [0] * vlen
    for i in inlist:
        retval[i] = 1
        
    return retval

In [25]:
prep = {k:vector_from_set(v) for k, v in index.items()}

In [28]:
print len(prep.keys())
print len(prep.values()[0])

7232
25000

In [30]:
df = pd.DataFrame.from_dict(prep)
print df.shape
df.head()

(25000, 7232)

,0,1,2,3,4,5,6,7,8,9,...,11075,11078,11093,11104,11105,11129,11156,11254,11291,11387
0,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

So now each column is an item and each row is a row in a spare dataframe

In [32]:
sum(df[0]*df[1])

1

In [33]:
df1 = df

Now what I want to do is make df2 where each column is a pair of items and a 1 in a row indicates that pair co-occured in that row

In [37]:
df1t = df1.T
print df1t.shape
df1t.head()

(7232, 25000)

,0,1,2,3,4,5,6,7,8,9,...,24990,24991,24992,24993,24994,24995,24996,24997,24998,24999
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df2 = df1.dot(df1t)