In [1]:
import pandas as pd

In [2]:
import os
os.getcwd()

'C:\\code\\SupermarketOptimizationProblem'

In [4]:
with open(r'data\retail_25k.dat') as f:
    lines = [line.strip() for line in f.readlines()]

In [6]:
from collections import defaultdict
index = defaultdict(set)
for i, line in enumerate(lines):
    for item in line.split():
        index[item].add(i)

In [7]:
len(index)

11427

In [8]:
max(index.keys())

'9999'

In [9]:
max(int(k) for k in index.keys())

11426

In [10]:
index['11426']

{24995}

In [11]:
index = {k:v for k, v in index.items() if len(v) >= 4}

In [12]:
len(index)

7232

In [13]:
max(index.keys())

'9991'

In [14]:
max(int(k) for k in index.keys())

11387

In [15]:
index['11387']

{24817, 24818, 24854, 24927}

In [16]:
df = pd.DataFrame.from_dict(index)

ValueError: arrays must all be same length

In [17]:
max_row = 0
for v in index.values():
    if max(v) > max_row:
        max_row = max(v)
print max_row

24999

In [18]:
def vector_from_set(s, vlen=25000):
    retval = [0] * vlen
    for i in s:
        retval[i] = 1
        
    return retval

In [19]:
prepared_index = {k:vector_from_set(v) for k, v in index.items()}

In [20]:
df = pd.DataFrame.from_dict(prepared_index)

In [22]:
print df.shape
df.head()

(25000, 7232)

,0,1,10,100,1000,1001,10010,10017,1002,1003,...,9943,995,996,9963,997,998,9985,9986,999,9991
0,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

At this point I have a dataframe where each column represents an item
But I want it the other way around

In [23]:
df = pd.DataFrame.from_dict(prepared_index, orient='index')

In [24]:
print df.shape
df.head()

(7232, 25000)

,0,1,2,3,4,5,6,7,8,9,...,24990,24991,24992,24993,24994,24995,24996,24997,24998,24999
5988,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5989,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5982,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5980,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5981,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

So one way to speed this up is I probably don't need to do all the indexing I do...I can probably just let pandas do its default thing

In [25]:
type(df)

pandas.core.frame.DataFrame

In [35]:
df[0]

5988     0
5989     0
5982     0
5980     0
5981     0
5986     0
5987     0
5985     0
6794     0
6795     0
6793     0
6791     0
270      0
271      0
272      0
273      0
274      0
275      0
276      0
277      0
278      0
279      0
9259     0
10702    0
9527     0
9252     0
9251     0
1370     0
1373     0
10619    0
        ..
7294     0
3304     0
1802     0
3305     0
7920     0
5490     0
7921     0
5491     0
1568     0
1569     0
1298     0
5492     0
1292     0
1561     0
1562     0
1563     0
1564     0
1565     0
1566     0
1295     0
5638     0
5639     0
5634     0
5630     0
5631     0
5632     0
5633     0
8481     0
8482     0
8483     0
Name: 0, dtype: int64

In [36]:
df2 = pd.DataFrame.from_dict(prepared_index)

In [40]:
sum(df2['1'])

74

In [44]:
new = df2['0'] * df2['1']
type(new)

pandas.core.series.Series

In [45]:
sum(new)

1